@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.pagination {
    display: inline-block;
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 40px;
}

.pagination a {
    color: white;
    float: none;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #b9ffbc91;
    color: white;
    border-radius: 8px;
}

.pagination a:hover:not(.active) {
    background-color: #1C64F2;
    border-radius: 8px;
}


.pagination .arrow {
    color: #616D8D;
}

.pagination .arrow:hover:not(.active) {
    background-color: #616d8d96;
    cursor: pointer;
}